body, main {
    background-color: aqua;
}

header, footer {
    background-color: coral;
}

#logo {
    width: 30%;
}

.h1 {
    color: green;
}

table {
    background-color: greenyellow;
    width: 500px;
    text-align: center;
    margin: 0 auto;
}

caption {
    background-color: yellowgreen;
}